*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App 
{
  min-height: 100vh;
  background-image: url("../public/Space-Background-Image-2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

